#navbar-container{
    background-color: black;
    display: flex;
    flex-direction: reverse-row;
    height: 15%;
    color: white;
}

#home-button{
    background-color: black;
    color: white;
    height: 80%;
    width: 10%
    border-radius: 10px; 
}
